body {
    background-image: url("../img/fete.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
footer {
    z-index: 3;
    color: white;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
}
footer>p {
    margin: 0;
    padding-bottom: 15px;
}
.background_accueil {
    background: rgba(255, 255, 255, 0.3);
    z-index: 1;
    width: auto;
    height: 900px;
}
.background_white {
    background-color: white;
    color: #292d32;
    z-index: 2;
    position: absolute;
    top: 60%;
    left: 35%;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.background_white>h1{
    margin: 20px 10px;
    font-family: 'Poppins', sans-serif;
}
.background_white>a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
    font-size: x-large;
}
form {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    width: 34%;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
form>p {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding-left: 20px;
}
form>button {
    border-radius: 4px;
    background-color: white;
    width: 25%;
    height: 30px;
    font-family: 'Poppins', sans-serif;
}
input, select {
    margin-left: 10px;
    border-radius: 4px;
}
table {
    width: 100%;
    height: auto;
    padding-left: 130px;
}
tr {
    display: inline-block;
    width: 24%;
    padding-bottom: 20px;
}
td>a>img {
    width: 80%;
}
.container>h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    margin-bottom: 85px;
}
.container {
    text-align: center;
}
#slide1_container {
  width:450px;
  height:281px;
  overflow:hidden;
  margin:0 auto;
}
#slide1_images {
  width:1800px;

  -webkit-transition:all 1.0s ease-in-out;
  -moz-transition:all 1.0s ease-in-out;
  -o-transition:all 1.0s ease-in-out;
  transition:all 1.0s ease-in-out;
}
#slide1_images img {
  padding:0;
  margin:0;
  float:left;
}
p#slide1_controls {
    text-align: center;
}
#slide1_controls span {
    padding-right: 2em;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    color: white;
}
.selected {
    font-weight: bold;
}
#slide1_images>img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.mySlides {
    display:none;
}