{% load static %}

<!DOCTYPE html>

<html  class="no-js" lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <link href="https://fonts.googleapis.com/css?family=Poppins:300" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styles.css'%}">
        <link rel="stylesheet" href="{% static 'js/popper.min.js'%}">


        <script src="{% static  'js/vendor/jquery-3.3.1.min.js' %}"> </script>
        <script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"> </script>
        <script src="{% static 'js/plugins.js'%}"> </script>
        <script src="{% static 'js/main.js' %}"></script>

        <title>{% block title %}{% endblock %}</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    </head>
    <body>
    {% block body %}{%  endblock %}

    <footer>
        <p>Copyright RIL 2018</p>
    </footer>
    </body>
</html>