{% extends 'base.html' %}

{% block title %}
    {{ object.intitule }}
{% endblock %}

{%  block body %}
    <div class="container">
        <h1 class="titrePage">{{ object.groupe }}</h1>

        <div class="detail">
            <img src="../{{ object.groupe.photoDeGroupe }}">
            <h2>Lieux du concert</h2>
            <p>{{ object.lieux }}</p>
            <h2>Genre</h2>
            <p>{{ object.groupe.genre }}</p>
            <h2 class="description">Description du groupe</h2>
            <p>{{ object.groupe.description }}</p>
            <h2 style="padding-left: 1%">prix des place</h2>
            <p>
                {% for place in type_place %}
                    {{ place.place }} : {{ place.prixPlace }} € <br>
                {% endfor %}
            </p>
            <a href="{% url 'reservation' object.pk %}"><button class="btn btn-success">Réserver !</button></a>
        </div>
    </div>

{% endblock %}
