{% extends 'base.html' %}

{% block title %}
    <h1>Tous nos concert disponible</h1>
{% endblock %}

{%  block body %}
    <div class="container">
        <h1 class="titrePage">Prochain Concert</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>titre</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td> {{ object.photoDeGroupe }} <!-- liste les titre du model cocktail -->
                        {% if not forloop.last %}
                            <br>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}