{% extends 'base.html' %}

{% block title %}
    <h1>Tous nos concert disponible</h1>
{% endblock %}

{%  block body %}
    <div class="container">
        <h1 class="titrePage">Prochain Concert</h1>
        <div id="slide1_container" class="shadow">
         <div id="slide1_images">
             {% for object in object_list|slice:":4" %}
                <img src="{{ object.photoDeGroupe }}">
             {% endfor %}
          </div>
        </div>
        <p id="slide1_controls">
            {% for object in object_list|slice:":4" %}
            <span class="selected">{{ object.nom }}</span>
            {% endfor %}
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>titre</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td> <a href="{% url 'detail' object.pk %}"> <img src="{{ object.photoDeGroupe }}"> </a> <!-- liste les titre du model cocktail -->
                        {% if not forloop.last %}
                            <br>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}