{% extends "base.html" %}
{% load i18n %}

{% block title %}
    formulaire Reservation
{% endblock %}

{% block body %}
    <div>
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list' %}"><button class="btn btn-success">Liste des concerts</button></a>
            </li>
        </ul>
    </div>
    <div class="container">
        <h1 class="titrePage">Réservation</h1>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Valider !</button>
        </form>

    </div>
{% endblock %}