{% extends "base.html" %}
{% load i18n %}

{% block title %}
    formulaire Reservation
{% endblock %}

{% block body %}
    <div>
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list' %}"><button class="btn btn-success">Liste des concerts</button></a>
            </li>
        </ul>
    </div>
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
{% endblock %}